<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{/fragments/head :: head}"/>

<body class="sub_page">

<div class="hero_area">
  <div class="bg-box">
    <img th:src="@{/images/nav-bg.jpg}" alt="">
  </div>
  <!-- header section strats -->
  <header th:replace="~{/fragments/header :: header}"/>
  <!-- end header section -->
</div>

<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h4>
        Change Password
      </h4>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <p th:if="${message ne null}" th:text="${message}" class="alert alert-primary" role="alert"></p>
          <form th:action="@{/password/update}"
                th:object="${account}"
                method="post">
            <input type="hidden" name="id" id="id" th:field="*{id}">
            <div>
              <input id="password" name="password" type="password" th:field="*{password}" class="form-control" placeholder="Password" required/>
              <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger" role="alert">Password Error</p>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm New Password</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" required>
            </div>
            <div class="btn_box">
              <button type="submit">
                Confirm
              </button>
            </div>
          </form>
          <script>
            document.getElementById('confirmPassword').addEventListener('input', function () {
              var password = document.getElementById('password').value;
              var confirmPassword = this.value;
              if (password !== confirmPassword) {
                this.setCustomValidity('Passwords do not match.');
              } else {
                this.setCustomValidity('');
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->

<!-- footer section -->
<footer th:replace="~{/fragments/footer :: footer}"/>
<!-- footer section -->

</body>

</html>